/offlinenotepad
tmp/
/data.db
/*.db
/*.sqlite
/*.sqlite3
/*.sqlite*-journal
/*.sqlite*-shm
/*.sqlite*-wal
*~
*.exe
/bindata.go
.env
.DS_Store
web/node_modules/
web/coverage/
web/playwright-report/
web/test-results/
web/*.tsbuildinfo
/internal/site/build/*
!/internal/site/build/.gitkeep
cmd/offlinenotepad/offlinenotepad
cmd/offlinenotepad/offlinenotepadv2
