<!doctype html>
<html lang=en-US>

<head>
    <meta charset='utf-8'>
    <title>Offline Notepad</title>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='description' content='Offline Notepad, any notes for any time.'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='canonical' href='https://offlinenotepad.com/'>
    <link rel='manifest' href='/static/manifest.json'>
    <meta name='mobile-web-app-capable' content='yes'>
    <meta name='apple-mobile-web-app-capable' content='yes'>
    <meta name='application-name' content='Offline Notepad'>
    <meta name='apple-mobile-web-app-status-bar-style' content='black'>
    <meta name='apple-mobile-web-app-title' content='Offline Notepad'>
    <link rel='icon' sizes='192x192' href='/static/images/touch/Airhorner_192.png'>
    <link rel='apple-touch-icon' href='/static/images/touch/Airhorner_192.png'>
    <meta property='og:image' content='https://airhorner.com/images/touch/Airhorner_192.png'>
    <meta name='msapplication-TileImage' content='/static/images/touch/Airhorner_144.png'>
    <meta name='msapplication-TileColor' content='#2196F3'>
    <meta name='theme-color' content='#2196F3'>
    <meta property='og:title' content='Offline Notepad'>
    <meta property='og:type' content='website'>
    <meta property='og:url' content='https://offlinenotepad.com/'>
    <meta property='og:description' content='An offline-first, secure, private notepad for writing and reading notes.'>
    <meta name='twitter:card' content='summary'>
    <meta name='twitter:url' content='https://offlinenotepad.com/'>
    <meta name='twitter:title' content='Offline Notepad'>
    <meta name='twitter:description' content='OAn offline-first, secure, private notepad for writing and reading notes.'>
    <meta name='twitter:image' content='https://airhorner.com/images/touch/Airhorner_192.png'>
    <meta name='twitter:creator' content='@yakczar'>
    <link rel='stylesheet' href='/static/css/style.css'>
    <script src='/static/js/pwacompat.min.js' async></script>
</head>

<body>
    <main id="app">
        <div v-show="showImport" v-cloak>
            <input type="file" id="selectFiles" value="Import" /> <button id="import">Import</button>
        </div>
        <div class="checkmark" v-show="showCheck">✔️</div>
        <div class="topbar" v-cloak>
            <span class="fl font" v-if="showIntroText">
                <a id="loginLink" class="link" v-show="showIntroText" v-on:click="logIn">login</a>
                <a id="installer" class="link" v-show="isChrome && !installed" v-on:click="install" v-cloak>install</a>
            </span>
            <span class="fl fonty" v-else>
                <a id='listlink' class="link" v-on:click="showList = true; showSearch = false; showSearchBar=false;">home</a>&nbsp;
                <span v-show="showList">
                    <a id='newlink' class="link" v-on:click="makeNew">new</a>&nbsp;
                    <a id='searfhbarLink' class="link" v-on:click="showSearchBar = true; searchText=''">search</a>&nbsp;
                    <a id="logoutlink" class="link" v-on:click="logOut">logout</a>
                </span>
                <span v-show="showEdit">
                    <a id='viewlink' class="link" v-on:click="showView = true">view</a>&nbsp;
                    <a id='deletelink' class="link" v-on:click="deleteDoc">erase</a>
                </span>
                <a id='editlink' class="link" v-on:click="showEdit = true" v-show="showView">edit</a>
            </span>
        </div>
        <p v-show="showSearchBar" v-cloak>
            <input id="searchbar" autocomplete="off" v-on:input="searchDocs" v-model="searchText" placeholder="Search..." style="width: 100%;" autofocus>
        </p>
        <div class="list" v-show="showSearch" v-cloak>
            <p>Found {{docsFound.length}} items that match '{{searchedText}}':</p>
            <div v-for="doc in docsFound">
                <div v-bind:id="doc.uuid" class="link" v-on:click="select($event)">
                    <span v-if="doc.title">{{doc.title}}</span>
                    <span v-else>{{doc.uuid}}</span>
                </div>
                <div>{{ formatDate(doc.created) }}</div>
                <q v-html="doc.snippet" class="snippet"></q>
            </div>
        </div>
        <div v-show="showList" v-if="!showIntroText && !showSearch" v-cloak>
            <p class="small">Welcome, {{username}} ({{appHash(password)}}).</p>
        </div>
        <div class="list" v-show="showList && !showSearch" v-cloak>
            <div v-for="doc in docList">
                <div v-bind:id="doc.uuid" class="link" v-on:click="select($event)"><span v-if="doc.title">{{doc.title}}</span><span v-else>{{doc.uuid}}</span></div>
                <div>{{ formatDate(doc.created) }}</div>
            </div>
        </div>
        <div v-show="showIntroText" v-cloak>
            <p>Welcome to the Offline Notepad.</p>
            <p>Offline Notepad is an <a href="https://github.com/schollz/offlinenotepad">open-source</a>, private personal notebook for all your devices. Everything you write is encrypted and stored locally, with encrypted syncing via a server.</p>
            <p>Offline Notepad is offline-first, which means you can create, edit, delete, and search notes
                without an internet connection.
                Your notes automatically sync with a server using end-to-end encryption when you come online.</p>
            <p>Click <em>login</em> to begin. <span v-if="isChrome">Click <em>install</em> to add this app to your device</span><span v-else>Click the upper right and "Add to home screen" to add this app to your device.</span>.
            </p>
        </div>
        <div class="fonty" v-show="showView" v-bind:class="{ iscode: isCode }" v-cloak>
            <h1 v-if="doc.title">{{doc.title}}</h1>
            <h1 v-else>{{doc.uuid}}</h1>
            <!-- TODO: if . in title, show raw pre-formated text -->
            <div v-html="doc.rawHTML"></div>
        </div>
        <input id="edittitle" autocomplete="off" v-show="showEdit" placeholder="Title" v-model="doc.title" v-on:input="updateDoc" v-bind:class="{ iscode: isCode }" v-cloak>
        <textarea class="writing" autocomplete="off" v-show="showEdit" id="editable" rows=110 placeholder="Click here and start writing" v-on:input="updateDoc" @keydown.tab.prevent="tabber($event)" v-model="doc.markdown" v-bind:class="{ iscode: isCode }" v-cloak autofocus>
        {{doc.markdown}}
        <!-- TODO: if . in title, show raw pre-formated text -->
        </textarea>
    </main>
    <script src="/static/js/js.cookie.min.js"></script>
    <script src="/static/js/sweetalert.js"></script>
    <script src="/static/js/moment.min.js"></script>
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/lz-string.js"></script>
    <script src="/static/js/pako.min.js"></script>
    <script src="/static/js/crypto-js.min.js"></script>
    <script src="/static/js/enc-utf16.min.js"></script>
    <script src="/static/js/lunr.min.js"></script>
    <script src="/static/js/localforage.js"></script>
    <script src="/static/js/showdown.min.js"></script>
    <script>
    /* code for the service worker */
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/sw.js', {
                scope: '/'
            })
            .then(function(registration) {
                console.log('Service Worker Registered');
            });
        navigator.serviceWorker.ready.then(function(registration) {
            console.log('Service Worker Ready');
        });
    }
    </script>
    <script src="/static/js/main.js"></script>
</body>

</html>